* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
}


html {
    background-color: rgb(26, 26, 27);
}

header {
    background-color: #74F529;
    height: 50px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 34px;
    justify-content: center;
    text-align: center;
    color: white;
}

h3 {
    color: white;
}

#drink {
    display: flex;
    justify-content: center;
}

#js-spirits {
    width: 100%;
    align-content: center;
}

form {
    justify-content: center;
}

select {
    width: 100%;
    font-size: 20px;
}

.list-pick-container {
    width: 100%;
    border-top: 5px;
    padding: 20px 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#drink-pick {
    padding: 0 .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px;
    width: 100%;
}

#drink {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    list-style: none;
    background-color: #74F529;
    color: white;
    padding: 5px 20px;
    margin: 5px;    
    border-radius: 80px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.recipe-image {
    border-radius: 20px;
}

.recipe-ingredients {
    list-style: none;
    padding: 25px;
    background-color: #74F529;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.recipe-instructions {
    background-color: #74F529;
    color: white;
    border-radius: 20px;
    line-height: 2em;
    box-sizing: border-box;
    padding: 15px 30px;
}